*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F9FA;
}
.calculator{
    border: 1px solid black;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px #ADB5BD ;
}
input{
    width: 320px;
    border: non;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px #6C757D;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: #6C757D;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: #E9ECEF;
    color: #343A40;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;
}
.equalbtn{
    background-color:#343A40;
    color: white;
}
.operator{
    color: #495057;
}